
body{
    background-color: black;
    font-family: 'Times New Roman', serif;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:rgb(49, 47, 47);
      font-family: Arial, Helvetica, sans-serif;
      
    }
    li {
      float: left;
    }
    li a, .dropbtn {
      display: inline-block;
      color:white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover, .dropdown:hover .dropbtn {
      background-color: darkgray;
    }
    li.dropdown {
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px ;
      z-index: 1;
    }
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .active{
     background-color: rgb(17, 160, 216);
    }
    
        .icon{
           color: white;
           position: absolute;
           left: 81%;
           bottom: 94%;
           scale: 1.26;
           margin: 0px 25px;
           cursor: pointer;
        }
        .logo{
          width: 26%;
          display: flex;
          justify-content: right;
          position: absolute;
          left: 72%;
          bottom: 92%;
        }
        .search-nav{
          position: absolute;
          left: 44%;
          bottom: 93%;
          font-size: large;
        }
        .search-mag{
          color: black;
          position: absolute;
          left: 57%;
          bottom: 93.5%;
          scale: 1.26;
          margin: 0px 25px;
          cursor: pointer;
        }
        .sign{
          background-color: white;
        }
       
     .mySlides {display:none}
     .w3-left, .w3-right, .w3-badge {cursor:pointer}
     .w3-badge {height:13px;width:13px;padding:0}
     
    
      .news h2 {
          position: relative;
          left: 20px;
          font-size: 250%;
          color: #fff;
          text-align: left;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6, 0 0 40px #0073e6, 0 0 45px #0073e6;
      }
      .cameranews {
     position: relative;
     display: inline-block;
     cursor: pointer;
     margin: 20px;
    }
     .cameranews-content {
     display: none;
     position: absolute;
     background-color: rgb(54, 51, 51);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     color: #f1f1f1;
   }
     .cameranews:hover .cameranews-content {
      display: block;
    }

   .desc {
    padding: 15px;
    text-align: center;
   }
      .opacity img:hover{
        opacity: 0.6;
      }
      @media screen and (max-width:900px){
        .search-nav{
          display: none;
        }
        .search-mag{
          color: #fff;
          left: 77%;
          bottom: 94%;
        }
        .logo{
          width: 28%;
        }
      }
      @media screen and (max-width:600px){
        .search-nav{
          display: none;
        }
        .search-mag{
          color: #fff;
          left: 90%;
          bottom: 94%;
        }
        .logo{
          display: none;
        }
        .icon{
          display: none;
        }
      }